html, body {
  /* height: 100%; */
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.spacer-top {
  padding-top: 12rem;
}

.spacer-bottom {
  padding-top: 9rem;
}

@media screen and (min-height: 750px) {
  .spacer-bottom {
    padding-top: 15rem;
  }

  .spacer-top-large {
    padding-top: 12rem; 
  }

  .spacer-bottom-large {
    padding-top: 15rem;
  }
}

.margin-bottom {
  margin-bottom: 10px;
}

.margin-right {
  margin-right: 10px;
}   

.menu-link, .fake-disabled {
  cursor: pointer !important;
}

svg {
    pointer-events: visibleStroke;
}


